# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Resultados pesados / generados (ajusta si quieres versionarlos)
results/*.csv
!results/.gitkeep

# Figuras generadas (se regeneran con src/figuras.py)
report/*.png
